<table mat-table #table [dataSource]="dataSource">
    <ng-container *ngFor="let column of tableColumns" [matColumnDef]="column.def" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{column.label}}</th>
      <td mat-cell *matCellDef="let row"> {{ row | columnValues: column }} </td>
      <!-- <td mat-cell *matCellDef="let row"> {{ row[column.dataKey] }} </td> -->
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="tableDisplayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableDisplayColumns;"></tr>
  </table>
  